@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

#cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 97.8vh;
    background-image: url(https://t4.ftcdn.net/jpg/02/92/30/91/360_F_292309140_YIKAavpf8Cggz7b5jYlmtSPyhx2F0E3O.jpg);

}

#formulario{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    column-gap: 5vh;
    height: auto;
    width: 60vh;
    border-radius: 2rem;
    background-color: white;
}

#formulario > h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: "Playwrite US Trad", cursive;
    color: chocolate;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

#formulario > h2 {
    display: flex;
    justify-content: center;
    font-family: "Playwrite US Trad", cursive;
    color: chocolate;
}

#formulario > form {
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#formulario > form > button{
    background-color: #4CAF50; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    text-align: center; /* Alinear texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    width: 30vh;
}

#div_id_username > div > label{
    font-family: "Playwrite US Trad", cursive;
}

#div_id_password > div > label{
    font-family: "Playwrite US Trad", cursive;
}


#div_id_username > div > input{
    width: 40vh;
    border-radius: 3px;
    border-radius: 20px;
    font-size: 16px;
    height: 4vh;
}

#div_id_password > div > input{
    width: 40vh;
    border-radius: 3px;
    border-radius: 20px;
    font-size: 16px;
    height: 4vh;
}

#formulario > span {
    margin-bottom: 2vh;
}